@page
@model BusBooking.Pages.Booking.BookModel

<div class="tg-bannerholder">
	<div class="tg-slidercontent">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h1>Find your route!</h1>
					<h2>People don’t take trips, trips take People</h2>
					<form class="tg-formtheme tg-formtrip" method="post">
						<fieldset>
							<div class="form-group">
								<input class="form-control" type="text" name="DepartureLocation" placeholder="Enter Departure Location" />
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="ArrivalLocation" placeholder="Enter Arrival Location" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="date" name="Date" />
                            </div>
							<div class="form-group">
								<button class="tg-btn" type="submit"><span>find buses</span></button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="tg-homeslider" class="tg-homeslider owl-carousel tg-haslayout">
		<figure class="item" data-vide-bg="poster: images/slider/img-01.jpg" data-vide-options="position: 0% 50%"></figure>
		<figure class="item" data-vide-bg="poster: images/slider/img-02.jpg" data-vide-options="position: 0% 50%"></figure>
		<figure class="item" data-vide-bg="poster: images/slider/img-03.jpg" data-vide-options="position: 0% 50%"></figure>
	</div>
</div>

@if (Model.Buses != null && Model.Buses.Any())
{
    <table>
        <thead>
            <tr>
                <th>Bus Number</th>
                <th>Departure Location</th>
                <th>Arrival Location</th>
                <th>Departure Time</th>
                <th>Seats Available</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var bus in Model.Buses)
        {
            <tr>
                <td>@bus.BusNumber</td>
                <td>@bus.DepartureLocation</td>
                <td>@bus.ArrivalLocation</td>
                <td>@bus.DepartureTime</td>
                <td>@bus.SeatCount</td>
                <td>
                    <form method="post" asp-page-handler="Book" asp-route-busId="@bus.BusId">
                        <input type="number" name="seats" placeholder="Seats to Book" required />
                        <button type="submit">Book</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>
        We could not find a suitable bus for the date range you were looking for.
    </p>
}
